<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Management Product</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Product Management System</a>


</nav>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Product </h1>
            <div class = "card-body">
                <form th:action="@{/admin/add}" th:object = "${Product}" method="POST">
                    <div class ="form-group">
                        <label> Product Name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Product Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Price </label>
                        <input
                                type = "text"
                                name = "price"
                                th:field = "*{price}"
                                class = "form-control"
                                placeholder="Enter Product Price"
                        />
                    </div>

                    <div class ="form-group">
                        <label> CategoryID </label>
                        <input
                                type = "text"
                                name = "categoryID"
                                th:field = "*{categoryID}"
                                class = "form-control"
                                placeholder="Enter Product CategoryID"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Detail </label>
                        <input
                                type = "text"
                                name = "detail"
                                th:field = "*{detail}"
                                class = "form-control"
                                placeholder="Enter Product Detail"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Stock </label>
                        <input
                                type = "text"
                                name = "stock"
                                th:field = "*{stock}"
                                class = "form-control"
                                placeholder="Enter Product Stock"
                        />
                    </div>
                    <div class ="form-group">
                        <label> Image </label>

                        <input
                                type = "text"
                                name = "Image"
                                th:field = "*{image}"
                                class = "form-control"
                                placeholder="Enter Product Image"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>